{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body class="tk-proxima-nova">

  <div class="container blog hidden">
    <header id="header">
      <h1 id="sm-logo">Hey there, I'm <a href="/">Connor</a>.
        This is my <a href="/b">blog</a>.</h1>
    </header>

    <article id="main">
      {{ content | expand_urls: root_url }}
      <footer role="contentinfo">{% include footer-text.html %}</footer>
    </article>
  </div>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f1fb2fbcb25bc4025000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>

  <script defer src="/javascripts/ender.min.js"></script>
  <script defer src="/javascripts/script.js"></script>

</html>
