{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body class="tk-museo-slab">
  <div class="container hidden">
    <header id="header">
      <h1 class="tk-proxima-nova large black center" id="logo">Hey there, I'm Connor.</h1>
      <h2 id="subhead">I make things on the internet.</h2>
    </header>

    <div id="main">
      <p id="github">I code on <a href="http://github.com/connormontgomery" target="_blank">github</a>,</p>
      <p id="twitter">tweet on <a href="http://twitter.com/connor" target="_blank">twitter</a>,</p>
      <p id="rdio">listen on <a href="http://rdio.com/people/cnnr" target="_blank">rdio</a>,</p>
      <p id="blog">post on <a href="/b">octopress</a>,</p>
      <p id="hack" class="hidden">hack on <a href="#">projects</a>,</p>
      <p id="facebook">friend on <a href="http://facebook.com/connor.t.montgomery" target="_blank">facebook</a>,</p>
      <p id="linkedin">connect on <a href="http://www.linkedin.com/in/connormontgomery" target="_blank">linkedin</a>,</p>
      <p id="qrcardus">scan on <a href="https://meld.io/ueIyqV/">meld</a>,</p>
    <p id="gmail">& email on <a href="mailto:c[at]cnnr[dot]me">gmail</a>.</p>
  </div>
<footer>
  <p id="high-fives"><span class="super">*</span> I'm also a huge fan of high-fives.</p>
</footer>

{% include footer.html %}

</body>
</html>
