@import "reset";

html, body, .container{height: 100%;}

.container{width: 782px; margin: 0 auto; font-weight: 300; position: relative;
  &.hidden{display:none;}
  #header{text-align: center;
    #logo{font-size: 39px; color:#000000; text-align: center;}
    #subhead{font-size: 20px; color:#919191; font-weight: 300; margin-top: 6px;
      .super{font-size: 15px; position: relative; top: -6px;}
    }
  }

  #main{font-size: 16px; color:#919191; line-height: 23px;
    p{line-height: 23px;
      .strike{text-decoration: line-through;}
    }

    /* NOTE: ADD STYLE FOR MOBILE IMPLEMENTATION, TOO */

    #github{margin-left: 311px;}
    #twitter{margin-left: 315px;}
    #rdio{margin-left: 315px;}
    #blog{margin-left: 319px;}
    #facebook{margin-left: 311px;}
    #linkedin{margin-left: 294px;}
    #qrcardus{margin-left: 320px;}
    #gmail{margin-left: 315px;}
    a{text-decoration: none; color: #2576e5; cursor: pointer;
      &:hover{text-decoration: underline;}
    }
  }

  #high-fives{color: #919191; font-size: 12px; font-weight: 300; position: absolute; bottom: 20px; right: 0;}
}


body.mobile{overflow:hidden;
  .container{width: 95%; margin:0 auto; padding-top: 20px; overflow:hidden;}
  #header {
    #logo{font-size: 26px;}
    #subhead{font-size: 17px; margin-top: 4px;}
  }
  #main{font-size: 16px; margin-top: 50px;
    p{line-height: 20px;}
    #github{margin-left: 80px;}
    #twitter{margin-left: 85px;}
    #rdio{margin-left: 85px;}
    #blog{margin-left: 88px;}
    #facebook{margin-left: 81px;}
    #linkedin{margin-left: 64px;}
    #qrcardus{margin-left: 91px;}
    #gmail{margin-left: 85px;}
  }
  #high-fives{bottom: 30px;}
}
