<footer class="post-footer">
  Hey there, I'm Connor. You can find me on <a href="http://github.com/connor"
      target="_blank">github</a>, <a href="http://twitter.com/connor"
      target="_blank">twitter</a>, <a href="http://rdio.com/people/cnnr"
      target="_blank">rdio</a>, <a
      href="http://www.linkedin.com/profile/view?id=69032722&trk=tab_pro"
      target="_blank">linkedin</a>, <a
      href="http://facebook.com/connor.montgomery1"
      target="_blank">facebook</a>, and <a href="mailto:c[at]cnnr[dot]me">gmail</a>. I helped prototype <a href="http://lift.do"
      target="_blank">Lift</a> and I'm excited to be working for <a
      href="http://apple.com" target="_blank">Apple</a> this summer in Cupertino. I'm a junior studying Computer Science at <a href="http://mathcs.slu.edu">SLU</a>.
      This site is proudly powered by <a href="http://octopress.org" target="_blank">octopress</a>.
    <!-- TODO: change the about me link to about.me -->
</footer>
